[Unit]
Description=Virtual Joystick
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/local/bin/virtualjoystick.py
Restart=always
RestartSec=10s
User=root
StartLimitIntervalSec=0
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
