[Unit]
Description=Virtual Joystick
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/systemctl stop virtual-joystick.service
ExecStart=/usr/local/bin/virtualaxis.py
Restart=on-failure
RestartSec=10s
User=root

[Install]
WantedBy=multi-user.target
